@page "/"

<PageTitle>Moogle!</PageTitle>
<div id="main-container" style="margin: 25vh auto">

    <h1 class="maintitle"><span class="in-title">🔍</span>
        <span style="color: rgb(26,115,232)">M</span>
        <span style="color: rgb(224,63,44)">o</span>
        <span style="color: rgb(252,196,36)">o</span>
        <span style="color: rgb(26,115,232)">g</span>
        <span style="color: rgb(63,149,69)">l</span>
        <span style="color: rgb(224,63,44)">e</span>
    </h1>
    <div class="container-form">
        <input id="form-input" class="p-1 my-4" @bind="query" placeholder="🔍Introduzca su búsqueda">

        <button  type="default" class="btn btn-primary" @onclick="RunQuery">Buscar</button>
    </div>
</div>


@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <style>
        #main-container{
            margin: 0 !important;

            .in-title{
                font-size: 3rem !important;
            }
        }
    </style>
    <hr style="margin-top: -10px">
    <div class="suggestion">
        <p>¿Quisiste decir <strong><a href="#">@result.Suggestion</a></strong>?</p>
    </div>
}

<ul class="results">
@foreach (var item in result.Items()) {
    @if(item.Score!=0){

        <div class="container-item">
            <li>
                <div class="item">
                    <h3 class="title">@item.Title</h3>
                    <p>... @item.Snippet ...</p>
                </div>
            </li>
        </div>
    }
}
</ul>

@code {
    private string query = "";
    
    private SearchResult result = new SearchResult();

    private void RunQuery() {
        if(query!="")
            result = Moogle.Query(query);
    }
}

